html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font: 400 16px "Source Sans Pro";
  color: #2b3a42;
}

code {
  font-family: "Source Code Pro";
}

h1,
h2,
h3 {
  font-family: "Source Serif Pro";
}
