.markdown {
  line-height: 1.5em;

  h2 {
    font-size: 33.1776px;
    margin-block-start: 9.537px;
    line-height: 1;
  }

  h3 {
    margin-block-start: 2em;
    line-height: 1.4;
    font-size: 27.648px;
  }

  h2,
  h3 {
    color: #32434a;
    word-break: break-word;
    font-family: "Source Serif Pro";
    font-weight: 600;
  }

  p {
    margin-block: 1em;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  code {
    line-height: initial;
    margin: 0;
    overflow: auto;
    white-space: normal;
    background-color: #465e690d;
    padding-block: 2px;
    padding-inline: 6px;
    border-radius: 3px;
    font-family: "Source Code Pro";
    font-size: 90%;
  }
}
