.sidebar-item {
  flex-wrap: wrap;
  margin-block: 0.6em;
  margin-inline: 0;
  font-size: 15px;
  display: flex;
  position: relative;

  &--open {
    .sidebar-item__toggle {
      transform-origin: 50%;
      transform: rotate(90deg);
    }
    .sidebar-item__anchors {
      display: flex;
    }
  }

  &__toggle {
    cursor: pointer;
    color: #175d96;
    flex: none;
    margin-block-start: 0.125em;
    margin-inline-end: 0.5em;
    transition: all 0.25s;
  }

  &__toggle:hover {
    color: #333;
  }

  &__anchors::before {
    content: "";
    height: calc(100% - 0.6em);
    border-inline-start: 1px dashed #777676;
    position: absolute;
    top: 0;
    left: 1.5em;
  }

  &__anchors {
    flex-wrap: wrap;
    flex: 0 0 100%;
    margin-block: 0.35em;
    margin-inline: 0;
    padding-inline-start: 1.5em;
    line-height: 19px;
    list-style-type: none;
    position: relative;
    overflow: hidden;
    /* display: none; */
  }

  &__anchor:first-child {
    margin-block-start: 0;
  }

  &__anchor::before {
    content: "";
    width: 0.5em;
    border-block-end: 1px dashed #777676;
    position: absolute;
    top: 13px;
    left: 0;
  }

  &__anchor {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 0 0 100%;
    margin-block: 0.25em;
    margin-inline: 0;
    padding-inline-start: 1em;
    position: relative;
    overflow: hidden;
  }

  &__anchor a:hover {
    color: #175d96;
  }

  &__anchor a {
    color: #2b3a42;
  }

  &__title.active {
    color: #333;
    font-weight: 600;
  }

  &__title {
    max-width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: auto;
    overflow: hidden;
  }
}
